

/* Style de la Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.navbar .logo h1 {
  font-size: 2rem;
  color: #f4a261;
}

.navbar .nav-links {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.navbar .nav-links li {
  padding: 0.5rem 1rem;
}

.navbar .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: #f4a261;
}

/* Section de formulaire */
.form-section {
  padding: 3rem 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.form-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.form-container {
  background-color: white;
  padding: 2rem;
  padding-right: 4rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form-container label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.5rem;
  display: block;
}

.form-container input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.form-container button {
  background-color: #f4a261;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cancel-btn {
  background-color: #f4a261;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #e0763a;
}

.form-container .cancel-btn {
  background-color: #ccc;
  margin-right: 1rem;
}

.form-container .cancel-btn:hover {
  background-color: #999;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
}

footer p {
  margin: 0;
}
